#divPrincipalQ{
  padding: 0vw;
  background-color: transparent;
  opacity: 100%;
  display: grid;
  grid-template-columns: 60% 40%;  
  gap: 2vw;
  justify-content: space-around;
  margin-right: 3vw;
  
}

/*Congfig da pagina*/

.divPrincipal{
  padding: 2vw;
}
/*=========================================*/


.banner-projeto{
  width: 100%;
  height: 40vw;
  display: flex;
  align-items: center;
  background-color: red;
}



#img-Fundo{
  width: 200%;
  height: 100%;
}



.banner-projeto{
  width: 100%;
  height: 40vw;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 10px 20px;
  background-image: url(Team\ Seas.png);
  background-repeat: no-repeat; 
  background-color: darkcyan;
  object-fit: cover;
  background-size: 110%;
}



/*Circulo onde vai o logo no banner*/
.logo-projeto{
background-color: white;
width: 15vw;
height: 15vw;
margin: 0% auto;
position: relative;
justify-content: center;
border-radius: 100%;
background-image: url(../img/Icone\ Rua\ Limpa.png);
background-size: 100%;
background-repeat: no-repeat;
}

/*Imagem da logo*/
.logo-projeto img{
  height: 10vw;
}

/*Quadrado onde vai o titulo no banner*/
.nome-projeto{
background-color: rgba(35, 84, 41, 0.551);
width: 40%;
height: 15%;
margin: 0% auto;
position: relative;
justify-content: center;
text-align: center;
padding: 1%;
margin-bottom: 1vw;
margin-right: 23vw;
font-size: 3vw;
}


.grid-container{
  display: grid;
  grid-template-columns: auto;
  background-color: red;
  padding: 1vw;
}

/*==============================================*/
/*Intrudoução */
/*Parte azul da introdução*/
.parte-central {
  padding: 5vw 4vw 5vw;
  font-size: 20px;
  text-align: center;

}
/*Parte escrita */
#introducao{
  color: #fff;
  font-family: 'Poppins';
  font-size: 25px;
  text-align: center;
  padding: 10vw 8vw 10vw;
}








/*==============================================
/*Propostas*/

/* Texto da parte de propostas*/
#propostas{
  font-family: 'Poppins';
  font-size: 2.1vw;
  display: grid;
  grid-template-columns: 40% 60%;
  gap: 3vw;
  padding: 12vw 4vw;
  text-align: left;

  /*ajuda*/
}

/*Foto do projeto*/
.fotos-projeto{

  justify-content: center;
  background-color: white;
  width: 30vw;
  height: 30vw;
  margin: 0% auto;
  position: relative;
  justify-content: center;
  border-radius: 100%;
  background-image: url(../img/Limpeza\ de\ verdade.png);
  background-size: 120%;
  background-position: 0vw;
  background-repeat: no-repeat;
}

  /*ajuda*/

.fotos-projeto img{
 max-width: 85%;
}

#doar-para-projeto{
width: 15%;
height: 4vw;
border: 3px #361540 solid;
border-radius: 12px;
font-family: 'Poppins';
color: #361540;
}

#doar-para-projeto h2{
color: #361540;
}

#doar-para-projeto:hover{
width: 18%;
height: 5vw;
border: 3px #361540 solid;
border-radius: 12px;
background-color: #361540;
color: #fff;
}
#doar-para-projeto h2:hover{
color: white;
font-family: 'Poppins';
font-size: 30px
}
#doar_btn {
  font-family: 'Poppins', sans-serif;
  font-size: 1.8rem;
  font-weight: 500;
  padding: .5rem 5rem;
  margin: 2rem 0;
  border: 3px solid #62477D;
  border-radius: 20px;
  color: #361540;
  cursor: pointer;
  transition: all .2s ease-in-out;
}

#doar_btn:hover {
  background-color: #62477D;
  color: #fff;
}







