@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Work+Sans:ital,wght@0,100;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,300;1,400;1,500;1,700&display=swap');

:root {
    --color-primary: #21538E;
    --bg-color: #F1F9F6;
    --light-green: #52B69A;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Work Sans', sans-serif;
    background-color: var(--bg-color);
}

/* Navbar */

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: var(--color-primary);
    color: #fff;

}

#logo {
    font-size: 1.5rem;
    font-weight: bold;
    color: #fff;
}

.nav-menu {
    display: flex;
}

#navbar_menu li {
    list-style: none;
    margin-right: 1rem;
    font-size: 1.2rem;
}

#navbar_menu a {
    text-decoration: none;
    color: #fff;
    text-align: center;
    transition: all 0.3s ease-in-out;
}

#navbar_menu a:hover {
    color: #8095af;
}

#login {
    display: flex;
    align-items: center;
}

#hamburger_menu {
    display: none;
    overflow: hidden;
}

/* Hero */

.hero {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin: 4rem 2rem;
    position: relative;
    gap: 4rem;
}


#image_hero{
    width: 40vw;
}



.hero button {
    background-color: var(--light-green);
    border: none;
    margin: 1rem 0;
    padding: .5rem 1rem;
    color: #fff;
    font-weight: 400;
    font-size: 1.2rem;
    cursor: pointer;
    border-radius: 10px;
    transition: all 0.5s ease-in-out;
    font-family: 'Work Sans', sans-serif;
}

.hero button:hover {
    background-color: #348971;
}

#hero_title {
    display: flex;
    font-weight: 500;
    width: 100%;
    height: 3.4rem;
    overflow: hidden;
    font-size: 2.8rem;
}

#hero_title li {
    margin: 0 0 0 .7rem;
    padding: inset;
    list-style-type: none;
    color: #DA6624;
    animation: hero-title 6s ease-in-out infinite;
}

.hero h2 {
    font-size: 1.5rem;
    font-weight: 400;
    max-width: 30rem;
}

@keyframes hero-title {
    0% {
        transform: translateY(0);
    }

    33%{
        transform: translateY(0);
    }

    40% {
        transform: translateY(-52px);
    }

    66% {
        transform: translateY(-52px);
    }
    75% {
        transform: translateY(-104px);
    }
    82% {
        transform: translateY(-104px);
    }

    95%{
        transform: translateY(-104px);
    }

    100% {
        transform: translateY(0px);
    }   
}

/* Principais Causas */

.principais-causas h2 {
    font-size: 3rem;
    text-align: center;
    color: #62477D;
}

.principais-causas {
    background-color: #C5FFC7;
    margin-top: -10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}


.causas-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

.causas-card {
    margin: 2rem 3rem;
    padding: 5rem 2rem;
    text-align: center;
    border-radius: 10px;
    color: #fff;
}

#educacao_card {
    background-color: #158AAD;
}

#alimentacao_card {
    background-color: #6E65A6;
}

#ambiente_card {
    background-color: #DA6624;
}

.causas-card img {
    max-width: 22rem;
    max-height: 13rem;
    object-fit: cover;
    margin-bottom: 1rem;
    border-radius: 10px;
}

.causas-card h3 {
    margin-bottom: 1rem;
    font-size: 2rem;
    font-weight: 500;
}

.causas-card p {
    font-size: 1.2rem;
    font-weight: 400;
}

#texto_grande {
    font-size: 5rem;
    font-weight: bold;
}

/*Como funciona */

.como-funciona {
    margin-top: 2rem;
    padding: 1rem;
    color: #1E6092;
}

.como-funciona-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 2rem;
    flex-wrap: wrap;
    margin: 5rem 3rem;
    font-size: 1.8rem;
    font-weight: 500;
}

.num-lista {
    font-size: 5rem;
    font-weight: 700;
    color: #52B69A;
}


.como-funciona-container ul {
    width: 27rem;
}


.como-funciona-container li {
    list-style-type: none;
    margin-bottom: 3rem;
    display: flex;
    align-items: center;
    gap: 2rem;
}

.como-funciona-container li:last-child {
    list-style-type: none;
    margin-bottom: 0;
}

#cf_titulo {
    text-align: center;
    font-size: 3rem;
    color: #1E6092;
}



/* Contato */

.contato {
    margin-top: 2rem;
}

.contato h2 {
    font-size: 3rem;
    color: #268c6f;
    margin-bottom: 2rem;
    text-align: center;
}

#instagram {
    margin-left: 1.1rem;
}

.contato-container ul {
    list-style: none;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 0;
    margin: 0;
    padding: 0;
}

.contato-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 4rem 0;
}

#contato_img {
    width: 50vw;
}


#redes_sociais img {
    width: 5rem;
}

#redes_sociais li {
    margin: inset;
    list-style-type: none;
    margin-bottom: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    font-size: 1.5rem;
    font-weight: 700;
}

/* Footer */

footer {
    background-color: var(--color-primary);
    color: #fff;
    padding: 2rem 1rem 1rem 1rem;
}

.footer-menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

footer ul {
    list-style-type: none;
}

footer a {
    color: #fff;
    text-decoration: none;
    transition: all .2s ease-in-out;
}

footer a:hover {
    color: rgb(161, 161, 207);
}

footer h6 {
    text-align: center;
    margin-top: 2rem;
    font-weight: 200;
}

@media (max-width: 768px) {
    
    /* Navbar */
    #navbar_menu {
        transition: 0.3s ease-in-out;
    }

    .nav-menu {
        display: block;
        height: 0;
        visibility: hidden;
        overflow-y: hidden;
        padding: 2rem;
    }

    .open {
        visibility: visible;
        position: absolute;
        top: 70px;
        background-color: #21538E;
        width: 100%;
        height: 100vh;
        z-index: 99;
        left: 0;
        padding: 2rem;
        overflow-y: auto;
    }

    #navbar_menu li {
        margin: 4rem 0;
        font-size: 2rem;
    }

    #hamburger_menu {
        display: block;
    }

    #hamburger_menu:hover {
        cursor: pointer;
    }

    #hamburger_menu:focus {
        outline: none;
    }
    
    /* Hero */

    #hero_title {
        font-size: 2rem;
        height: 2.5rem;
    }

    #hero_title li {
        animation: hero-title-responsive 6s ease-in-out infinite;
    }

    #hero_image {
        width: 100vw;
    }


    @keyframes hero-title-responsive {
        0% {
            transform: translateY(0);
        }
    
        33%{
            transform: translateY(0);
        }
    
        40% {
            transform: translateY(-38px);
        }
    
        66% {
            transform: translateY(-38px);
        }
        75% {
            transform: translateY(-76px);
        }
        82% {
            transform: translateY(-76px);
        }
    
        95%{
            transform: translateY(-76px);
        }
    
        100% {
            transform: translateY(0px);
        }   
    }

    /* Principais Causas */

    /* Como funciona */

    .cf-image img {
        width: 75vw;
    }

    /* Contato */
    #contato_img {
        width: 100%;
    }

    .contato-container {
        flex-direction: column;
    }

    .contato-container h2 {
        margin: 0 2rem;
        font-size: 50vw;
    }


}

@media (max-width: 500px) {
    #hero_title {
        font-size: 1.5rem;
        height: 2rem;
    }

    #hero_title li {
      animation: hero-title-responsive-500 6s ease-in-out infinite;
    }

    @keyframes hero-title-responsive-500 {
        0% {
            transform: translateY(0);
        }
    
        33%{
            transform: translateY(0);
        }
    
        40% {
            transform: translateY(-27px);
        }
    
        66% {
            transform: translateY(-27px);
        }
        75% {
            transform: translateY(-54px);
        }
        82% {
            transform: translateY(-54px);
        }
    
        95%{
            transform: translateY(-54px);
        }
    
        100% {
            transform: translateY(0px);
        }   
    }
}